.link-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: vertical-base();
    text-decoration: none;
    width: 1em;

    &.-stackoverflow { background-image: url("../images/icons/stackoverflow.svg"); }
    &.-github { background-image: url("../images/icons/github.svg"); }
    &.-twitter { background-image: url("../images/icons/twitter.svg"); }
    &.-codepen { background-image: url("../images/icons/codepen.svg"); }
}
