.page-header {
    margin: vertical-base(2) auto;

    > .portrait {
        border-radius: 50%;
        display: block;
        height: 64px;
        margin: 0 auto vertical-base(1.5);
        width: 64px;
        display: none;
    }

    > .name {
        display: block;
        font-weight: 500;
    }

    > .claim {
        display: block;
        font-size: 0.875em;
        opacity: 0.25;
    }
}
